{% load compress %}
{% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}dataview/js/views/list-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}dataview/js/views/openlayers-map-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}dataview/js/views/scatterplot-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}dataview/js/views/table-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}dataview/js/views/timeline-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}dataview/js/views/piechart-view.js"></script>
{% endcompress %}
