
syntax:glob
.svn
.hgsvn

*.pyc
*.db
local_settings.py
.hgignore
userdata
eggs
develop-eggs
parts
.installed.cfg
bin
downloads
.project
.pydevproject
.settings
lib/python*
.Python
include/python*
*.egg-info
*.swp
.DS_Store
site_media/avatars/*
site_media/catalog/*
site_media/static/*
site_media/support/*
*.mo
dist/*
MANIFEST
.idea
site_example/dataset_index/*
