{% load i18n %}
<div id="logo-facet-editor">
<div id="add-facet" title="Add a Facet">


        <form class="uniForm">
        
              <fieldset class="inlineLabels">
                <div id="div_id_src" class="ctrlHolder">
                    <p class='errorField ui-helper-hidden'>Enter a valid image URL.</p>
                    <label for="id_src">{% blocktrans %}Image URL*:{% endblocktrans %}</label>
                    <input id="id_src" class="textinput" type="text" maxlength="80" name="src"/>
                </div>
                <div id="div_id_alt" class="ctrlHolder">
                    <label for="id_alt">{% blocktrans %}Alternate Text:{% endblocktrans %}</label>
                    <textarea id="id_alt" class="textarea" type="text" name="alt"></textarea>
                </div>
                <div id="div_id_href" class="ctrlHolder">
                    <label for="id_href">{% blocktrans %}Destination URL:{% endblocktrans %}</label>
                    <input id="id_href" class="textinput" type="text" maxlength="80" name="href"/>
                </div>
                <div class="form_block">
                    <button id="cancel-button">{% trans "Cancel"%}</button>
                    <button id="save-button" type="submit">{% trans "OK" %}</button>
                </div>
              </fieldset>
        </form>
                
</div>
</div>
