{% load i18n %}
{% load freemix_helpers %}

<li class="exhibit_list_item result_set_item clearfix {% if exhibit.published %}public{% else %}private{% endif %}">

    {% if not visible %}
        <div class="exhibit-title">{{exhibit.title}}</div>

        <div class="exhibit-left">
            {% blocktrans %}The dataset is no longer available.{% endblocktrans %}
        </div>
        {% if request.user.is_authenticated and request.user.username == exhibit.owner.username %}
        <div class="exhibit-right">

          <div class="exhibit-links">
            <span class="action action_edit_exhibit">
              <a class="exhibit_delete" href="{{  exhibit.get_absolute_url }}">{% trans "Delete" %}</a>
            </span>
          </div>
        </div>
        {% endif %}
    {%  else %}
    <div class="exhibit-title"><a href="{{  exhibit.get_absolute_url }}">{{exhibit.title}}</a></div>
        {% if exhibit.description %}
                {% ifnotequal exhibit.description exhibit.description|truncatewords:20 %}
                <span class="short-description">
                {{ exhibit.description|safe|truncatewords:20 }}
                    <a class="readmore" href="{{ exhibit.get_absolute_url }}">read more</a>
                </span>
                <span class="long-description ui-helper-hidden">
                    {{ exhibit.description|safe }}
                </span>
                {%  else %}
                    {{ exhibit.description|safe }}
                {% endifnotequal %}
       {% endif %}
    <div class="exhibit-left">
        <div class="exhibit-creator">
                <span class="property-label">{% trans "Created by:"%} </span> <a href="{% url profile_detail exhibit.owner.username %}">{{exhibit.owner|nicename}}</a>
        </div>
        <div class="exhibit-created-data"><span class="property-label">{% trans "Created on:"%} </span>{{exhibit.created|date:"N j, Y"}}</div>
        <div class="exhibit-modified-data"><span class="property-label">{% trans "Last Modified:"%} </span>{{exhibit.modified|date:"N j, Y"}}</div>
        <div class="exhibit-dataset-title"><a href="{{exhibit.dataset.get_absolute_url }}" title="{{exhibit.dataset.title}}">{% blocktrans %}Original data set{% endblocktrans %}</a></div>

    </div>

    {% if request.user.is_authenticated and request.user.username == exhibit.owner.username %}

    <div class="exhibit-right">

      <div class="exhibit-links">

        <span class="action action_edit_exhibit">
          <a class="exhibit_edit" href="{% url exhibit_edit owner=exhibit.owner.username slug=exhibit.slug %}">{% trans "Edit" %}</a>
        </span>

        <span class="divider">|</span>

        <span class="action action_edit_exhibit">
          <a class="exhibit_delete" href="{{  exhibit.get_absolute_url }}">{% trans "Delete" %}</a>
        </span>
      
      </div>
    </div>

    {% endif %}
    {% endif %}
</li>
