/* Generic */
.exhibit-list-table {
    width: 100%;
}

.exhibit-list-table td {
    padding: 0.5em 0 !important;
    border: 0 none !important;
}

.exhibit-list-table td.exhibit-label {
    font-weight: bold;
    min-width: 20%;
    padding-right: 0.2em;
}

.exhibit-ui-protection div.exhibit-title {
    width: 100%;
    padding: 0.3em;
}

/* Tile view */
ol.exhibit-tileView-body li {
    margin-bottom: 1.0em;
}

/* Lightbox image view */
.dialog-thumb img {
    max-width: 100px;
}

/* Table view */
table.exhibit-tabularView-body {
    border-collapse: separate;
}

table.exhibit-tabularView-body th.exhibit-tabularView-columnHeader,
table.exhibit-tabularView-body th.exhibit-tabularView-columnHeader-sorted {
    font-weight: bold;
}

table.exhibit-tabularView-body th, 
table.exhibit-tabularView-body td {
    padding: 0.4em;
    border-bottom: 1px solid #000;
}

/* Timeline / Map view */
#clear-color {
    cursor: pointer;
    font-weight: normal;
    text-decoration: underline;
}
