{% load i18n %}
<div id="create_view_dialog" >
    <div class="chooser">
        <ul id="canvas_chooser">
            {% for canvas in canvases %}           
            <li>
                <a id='{{canvas.slug}}' href='{{ base_url }}?canvas={{ canvas.slug }}' title='{{ canvas.name }}'><img src='{{ canvas.thumbnail }}' alt='{{ canvas.name }}' title='{{ canvas.name }}'/><span class='chooser-canvas-name'>{{ canvas.name }}</span></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
