{% load i18n %}
<div class="record-view" id="map-view-template">
    <form class="view-form view-config ui-widget-content">
       <fieldset>
           <div id="view_label">
               <label for="view_label_input">{% trans "View Label" %}</label>
               <input type="text" id="view_label_input"/>
           </div>
           <div>
               <label for="title_property">{% trans "Title" %}</label>
               <select id="title_property"></select>
           </div>
           <div>
               <label for="title_link_property">{% trans "Link" %}</label>
               <select id="title_link_property"></select>
           </div>

           <div>
               <label for="latlng_property">{% trans "Lat/Lng" %}</label>
               <select id="latlng_property"></select>
           </div>
           <div>
               <label for="color_property">{% trans "Color" %}</label>
               <select id="color_property"></select>
           </div>
       </fieldset>
   </form>
    <div class="record-box">
        <table class="property-list-table">
            <thead class="ui-widget-header ui-corner-top">
                <tr>
                    <th class="visible">{% trans "Show" %}</th>
                    <th>{% trans "Property" %}</th>
                    <th>{% trans "Value" %}
                        <span class="record-pager">
                            <button class="left-record-button" title="{% trans "Previous Record" %}">&nbsp;</button>
                            <button class="right-record-button" title="{% trans "Next Record" %}">&nbsp;</button>
                        </span>
                        <span id="current-record">#p</span> of <span id="record-count">#t</span>

                    </th>
                   </tr>

            </thead>
            <tbody></tbody>
            <tfoot>
            <tr class='table-footer'>

                <td ></td>
                <td colspan="2">
                    <div class="record-controls ui-helper-clearfix ui-widget-header ui-corner-bottom">
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>

