{% load i18n %}
<div {% block template_id %}{% endblock %}>
        {% block view_header %}{% endblock %}        
        <div class="record-box">
            {% block required-settings %}
            {% endblock %}
            <table class="property-list-table">
                <thead>
                    <tr>
                      {% block property-list-headers %}
                      <th class="visible">
                          {% trans "Visible" %}
		      </th>
                      <th>
                          {% trans "Property" %}
		      </th>
                      <th>
                          {% trans "Value" %}
                        <span class="record-pager">
                            <button class="left-record-button" title="{% trans "Previous Record" %}">{% trans "Previous Record" %}</button>
                            <button class="right-record-button" title="{% trans "Previous Record" %}">{% trans "Next Record" %}</button>
                        </span>
                          <span id="current-record">#p</span> of <span id="record-count">#t</span>

		      </th>
                      {% endblock %}
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                <tr class='table-footer'>
            
                    <td {% block footer-filler-colspan %}colspan="1"{% endblock %}></td>
                    <td colspan="2">
                        <div class="record-controls ui-helper-clearfix ui-widget-header ui-corner-bottom">
                            <span id="record-selector">
                                <span class="record-pager">
                                    <button class="left-record-button" title="{% trans "Previous Record" %}">{% trans "Previous Record" %}</button>
                                    <button class="right-record-button" title="{% trans "Previous Record" %}">{% trans "Next Record" %}</button>
                                </span>
                                <span id="current-record">#p</span> of <span id="record-count">#t</span>
                            </span>
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

</div>
