{% extends "site_base.html" %}

{% load i18n %}
{% load freemix_helpers %}
{% load exhibit_tags %}
{% load compress %}

{% block head_title %}{% blocktrans %}Builder{% endblocktrans %}{% endblock %}

{% block rtab_id %}id="builder_tab"{% endblock %}
{% block body_class %}attraction{% endblock %}

{% block subnav %}

{% endblock %}
    
{% block head_data %}
    <link rel="exhibit/data" href="{{ data_url }}"/>
    <link rel="freemix/dataprofile" href="{{ dataset_profile_url }}"/>
    <link rel="freemix/exhibit_profile" href="{{ exhibit_profile_url }}"/>
{% endblock %}

{% block head_css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/layout.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/views.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}freemix/css/editor.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}exhibit/css/canvas.css"/>

<link rel="stylesheet" type="text/css" href="http://api.simile.zepheira.com/exhibit/2.2.0/extensions/chart/chart-extension-bundle.css" />

{% endblock head_css %}

       
{% block head_scripts %}
    {% include "freemix/js_include/exhibit.html" %}
    {{ block.super }}
    {% include "freemix/js_include/jquery_ui.html" %}
    {% include "freemix/js_include/viewer.html" %}
    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.jeditable.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/hoverIntent.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.qtip.1.0.0-rc3.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.qtip.themeroller.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.uuid.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/csrf.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/freemix.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/exhibit.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/property.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}freemix/js/identify.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/widget.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/facet.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/views/map-view.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/views/record-pager.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/lib/jquery.themeswitcher.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}exhibit/js/editor.js"></script>
    {% endcompress %}
    {% include "exhibit/lens_js.html" %}
    {% include "exhibit/facet_js.html" %}
{% endblock head_scripts %}

{% block body %}

{% if exhibit %}
<div class="exhibit_edit">
  <ul class="exhibit_list_items">
    <li class="exhibit_list_item result_set_item clearfix {% if exhibit.published %}public{% else %}private{% endif %}">
      
      <div class="exhibit-title"><a href="{{  exhibit.get_absolute_url }}">{{exhibit.title}}</a></div>

      {% if exhibit.description %}
      {% ifnotequal exhibit.description exhibit.description|truncatewords:20 %}
      <span class="short-description">
        {{ exhibit.description|safe|truncatewords:20 }}
        <a class="readmore" href="{{ exhibit.get_absolute_url }}">read more</a>
      </span>
      <span class="long-description ui-helper-hidden">
        {{ exhibit.description|safe }}
      </span>
      {%  else %}
      {{ exhibit.description|safe }}
      {% endifnotequal %}
      {% endif %}

      <div class="exhibit-left">
        <div class="exhibit-creator">
          <span class="property-label">{% trans "Created by:"%} </span> <a href="{% url profile_detail exhibit.owner.username %}">{{exhibit.owner|nicename}}</a>
        </div>
        <div class="exhibit-created-data"><span class="property-label">{% trans "Created on:"%} </span>{{exhibit.created|date:"N j, Y"}}</div>
        <div class="exhibit-modified-data"><span class="property-label">{% trans "Last Modified:"%} </span>{{exhibit.modified|date:"N j, Y"}}</div>
        <div class="exhibit-dataset-title"><a href="{{exhibit.dataset.get_absolute_url }}" title="{{exhibit.dataset.title}}">{% blocktrans %}Original data set{% endblocktrans %}</a></div>
	
      </div>
      
      <div class="exhibit-right">
	
	<div class="exhibit-links">
	  
          <span class="divider">|</span>
          <span class="action action_preview_exhibit">
	    <input type="checkbox" id="preview_toggle" /><label for="preview_toggle">{% trans "Preview" %}</label>
	  </span>

          <span class="divider">|</span>

          <span class="action action_save_exhibit">
	    <span id="save_message"></span>
	    <a href="" id="save_button">{% trans "Save" %}</a>
	  </span>

          <span class="divider">|</span>
          <span class="action action_cancel_exhibit">
	    <a href="{{ cancel_url }}" id="cancel_button">{% trans "Cancel" %}</a>
	  </span>

	</div>
      </div>
    </li>
  </ul>
</div>
{% else %}
<div class="exhibit_edit">
  <ul class="exhibit_list_items">
    <li class="exhibit_list_item result_set_item clearfix">

      <div class="exhibit-title">View based on '{{dataset.title}}'</div>

      <div class="exhibit-right">
	
	<div class="exhibit-links">
	  	  	  
          <span class="action action_preview_exhibit">
	    <input type="checkbox" id="preview_toggle" /><label for="preview_toggle">{% trans "Preview" %}</label>
	  </span>

          <span class="divider">|</span>

          <span class="action action_save_exhibit">
	    <span id="save_message"></span>
	    <a href="" id="save_button">{% trans "Save" %}</a>
	  </span>

          <span class="divider">|</span>
          <span class="action action_cancel_exhibit">
	    <a href="{{ cancel_url }}" id="cancel_button">{% trans "Cancel" %}</a>
	  </span>

	</div>
    </li>
  </ul>
</div>
{% endif %}



<div id="theme" >
  {% theme_list %}
</div>

<div id="contents" class="ui-helper-hidden">
  <div id="build" class="">
    <div id="canvas">
        {% include canvas.location %}
    </div>
  </div>
  <div id="preview" class=""></div>
</div>


<div class="ui-helper-hidden">
  <div id="templates">
    <div id="canvas-template">
        {% include canvas.location %}
    </div>

    {% block builder_templates %}
    {# facets #}
    {% include "exhibit/edit/facets/image-facet-editor.html" %}
    {% include "exhibit/edit/facets/list-facet-editor.html" %}
    {% include "exhibit/edit/facets/logo-facet-editor.html" %}
    {% include "exhibit/edit/facets/tagcloud-facet-editor.html" %}
    {% include "exhibit/edit/facets/text-facet-editor.html" %}

    {# lenses #}
    {% include "exhibit/edit/lenses/list-view.html" %}
    {% include "exhibit/edit/lenses/map-view.html" %}
    {% include "exhibit/edit/lenses/piechart-view.html" %}
    {% include "exhibit/edit/lenses/record-view.html" %}
    {% include "exhibit/edit/lenses/scatterplot-view.html" %}
    {% include "exhibit/edit/lenses/table-view.html" %}
    {% include "exhibit/edit/lenses/timeline-view.html" %}

    {% endblock %}

  </div>
  <div id="popup-scratch" class="ui-helper-reset ui-widget"></div>
</div>

{% endblock body %}
